---
import '../css/Page.css';
import '../css/HomePage.css';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SafeAlert</title>
	</head>
	<body>
		<Header client:load/>
		<main class="main-content">
			<section class="hero">
				<h1 class="hero-title"> <span class="nombre">SafeAlert:</span> Tu aliado contra el crimen</h1>
				<p class="hero-description">SafeAlert es una plataforma que permite reportar robos, crear perfiles de criminales y recibir asistencia legal personalizada.</p>
				<div class="cta-buttons">
					<button class="btn btn-primary">
					Reportar Incidente 
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-line-join="round" class="icon">
						<line x1="5" y1="12" x2="19" y2="12"></line>
						<polyline points="12 5 19 12 12 19"></polyline>
					</svg>
					</button>
					<button class="btn btn-secondary">Reportes por tu zona</button>
				</div>
				</section>
	
			<section class="donation-cta">
				<h3 class="section-title">Ayúdanos a continuar nuestra labor con tu apoyo</h3>
				<button class="btn btn-primary">
					Donar Ahora
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-line-join="round" class="icon">
					<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
					</svg>
				</button>
			</section>
	  	</main>
		<Footer />
	</body>
</html>
