---
import BtnDonar from "../components/BtnDonar.astro"
import LayoutGeneral from "../layouts/LayoutGeneral.astro"
---

<LayoutGeneral titulo="SafeAlert">
	<section class="hero">
		<h1 class="hero-title"> <span class="nombre">SafeAlert:</span> Tu aliado contra el crimen</h1>
		<p class="hero-description">SafeAlert es una plataforma que permite reportar robos, crear perfiles de criminales y recibir asistencia legal personalizada.</p>
		<div class="cta-buttons">
			<button class="btn btn-primary">
			Reportar Incidente 
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-line-join="round" class="icon">
				<line x1="5" y1="12" x2="19" y2="12"></line>
				<polyline points="12 5 19 12 12 19"></polyline>
			</svg>
			</button>
			<button class="btn btn-secondary">Reportes por tu zona</button>
		</div>	
	</section>

	<section class="donation-cta">
		<h3 class="section-title">Ayúdanos a continuar nuestra labor con tu apoyo</h3>
		<BtnDonar />
	</section>
</LayoutGeneral>
